/.sass-cache
/target
/classes
/checkouts
/node_modules
pom.xml
pom.xml.asc
*~
*.jar
*.bundle
*.class
*.swo
*.swp
/.lein-*
/.nrepl-port
/api-nusmods-stuff/*.json
/build-temp/*.js
/build-temp/*.json
/resources/public/js/auxmodinfo.js
/resources/public/js/modinfo.js
/resources/public/js/main.js
/resources/public/js/vendor/exhibit3-all.min.js
/resources/public/css/styles.css
/resources/public/css/exhibit3-styles.min.css
/resources/public/exhibit3
/test/js/globals.js
