@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////////////
// Clearfix hack
// From: http://nicolasgallagher.com/micro-clearfix-hack/
////////////////////////////////////////////////////////////////////////////////
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
////////////////////////////////////////////////////////////////////////////////

$BODY_BGCOLOR: #FFFFFF;

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 90%;
  line-height: 1.5;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

a {
  outline: 0;
  color: #5881D8;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #3D5A96;
  text-decoration: underline;
}

.nav-div {
  background: url("../img/d6d6d6_1px_horiz.png") bottom repeat-x;
}

dl.nav-tab {
  box-sizing: content-box;
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-bottom: 1.2rem;
  line-height: 2.5;
  $one_px_solid_gray: 1px solid #D6D6D6;

  dd {
    box-sizing: content-box;
    background: $BODY_BGCOLOR;
    display: inline-block;
    -webkit-margin-start: 0;
    border-bottom: $one_px_solid_gray;
  }

  dd > a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  dd > a:hover {
    background: #EEEEEE;
    text-decoration: none;
  }

  dd > a > i {
    margin-right: 0.5rem;
  }

  dd.active {
    @include border-radius(4px 4px 0 0);

    border-left: $one_px_solid_gray;
    border-top: $one_px_solid_gray;
    border-right: $one_px_solid_gray;
    border-bottom: 1px solid #{$BODY_BGCOLOR};
  }

  dd.active > a {
    pointer-events: none;
    color: #555555;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Simple grid for Module Finder page
// Based on http://css-tricks.com/dont-overthink-it-grids/
////////////////////////////////////////////////////////////////////////////////
$GRID_PADDING: 2rem;

.grid {
  @extend .cf;
}

@media screen and (min-width: 768px) {
  .medium-col-1-4 {
    width: 25%;
  }

  .medium-col-3-4 {
    width: 75%;
  }

  [class*='medium-col-'] {
    float: left;
    padding-right: $GRID_PADDING;
    .grid &:last-of-type {
      padding-right: 0;
    }
  }

  .grid-pad-sides {
    padding-left: $GRID_PADDING;
    [class*='col-']:last-of-type {
      padding-right: $GRID_PADDING;
    }
  }
}

// This is a hack to centralize the divs in the Module Finder page when the
// window shrinks to < 768px
@media screen and (max-width: 767px) {
  $GRID_PADDING: 1rem;
  .grid-pad-sides {
    padding-left: $GRID_PADDING;
    padding-right: $GRID_PADDING;
  }
}

////////////////////////////////////////////////////////////////////////////////

#timetable-builder {
  margin-left: 1rem;
}

// `Module Finder` page Exhibit 3 library table styles
table.exhibit-tabularView-body tr > td {
  border: 1px solid #ddd;
}

table.exhibit-tabularView-body tr > th:not(:last-child) {
  border-right: 1px solid #ddd;
}

////////////////////////////////////////////////////////////////////////////////
// This section styles the `Module Finder` page's horizontal facets, such as
// MC
////////////////////////////////////////////////////////////////////////////////
div.exhibit-flowingFacet-header {
  float: left;
  padding: 0;
  width: 3rem;
}

// Using this child selector from `div.exhibit-flowingFacet-body` is required
// for overriding the `facets.css` stylesheet from Exhibit 3.0 .
// This is a hack, but it's required.
div.exhibit-flowingFacet-body > div.exhibit-flowingFacet-value {
  float: left;
  clear: none;
  margin-bottom: 4px;
}

// Make the checkbox float left, otherwise they will appear below the value link
// and count
div.exhibit-flowingFacet-value-checkbox {
  float: left;
}

// Apply clearfix hack so this parent div takes up height of floated children
div.exhibit-flowingFacet {
  @extend .cf;
  margin-bottom: 0.5rem;
}

div.exhibit-facet-header {
  padding: 2px;
}

div.exhibit-text-facet > input[type="text"] {
  margin-bottom: 0.7rem;
}

// Border radius for Faculty / Department, Lecture Timings, Tutorial Timings
// facets
div.exhibit-facet-body {
  @include border-radius(4px);
}

////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////
// Select2
////////////////////////////////////////////////////////////////////////////////
.select2-container-multi .select2-choices {
  @include border-radius(3px);
  width: 100%;
}

// adjust height of each module selected
.select2-container-multi .select2-choices .select2-search-choice {
  line-height: 1.5rem;
  float: none;
  margin: 4px;
}

// adjust vertical position of the cross 'button'
.select2-search-choice-close {
  top: 0.5rem;
}

.search-modules-container-title-div {
  @extend .cf;
  margin-bottom: 2px;
}

.search-modules-nr-selected {
  float: left;
}

.search-modules-clear-all-modules {
  float: right;
}
////////////////////////////////////////////////////////////////////////////////

input[type=text] {
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));

  line-height: 1.5rem;
  border: 1px solid #ccc;

  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;

  padding: 4px 6px;
}

input[type=text]:focus,
.select2-container-multi.select2-container-active > ul.select2-choices {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(82, 168, 236, 0.6));

  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}

#search-modules-container {
  margin-bottom: 0.7rem;
}

$half-hour-width: 35px;
$one-px-grey-border: 1px solid #ddd;

#timetable {
  width: $half-hour-width * 32;
  font-size: 75%;
}

tbody.day-container {
  border: $one-px-grey-border;
}

.m00 {
  border-left: $one-px-grey-border;
}

.h23.m30 {
  border-right: $one-px-grey-border;
}

.day-row > td {
  width: $half-hour-width;
  height: 40px;
  padding-top: 2px;
}

div.tab-content.hide {
  display: none;
}

.lesson {
  border: 2px solid black;
  padding: 2px;
  line-height: 1.2;
}

.lesson-draggable-helper {
  opacity: 0.5;
}

.lesson-droppable-not-hover {
  opacity: 0.5
}

.lesson-droppable-hover {
  opacity: 1;
}

.lesson > p {
  margin: 0;
}

.lesson-bg-00 {
  background: #D9CEB2;
}
.lesson-bg-01 {
  background: #B3CC57;
}
.lesson-bg-02 {
  background: #F97C71;
}
.lesson-bg-03 {
  background: #70AFC4;
}
.lesson-bg-04 {
  background: #C4D6D6;
}
.lesson-bg-05 {
  background: #D11E48;
}
.lesson-bg-06 {
  background: #F4A8A0;
}
.lesson-bg-07 {
  background: #EAC1AF;
}
.lesson-bg-08 {
  background: #B1FCB3;
}
.lesson-bg-09 {
  background: #E3AAD6;
}
.lesson-bg-10 {
  background: #69D2E7;
}
.lesson-bg-11 {
  background: #74BAB2;
}
.lesson-bg-12 {
  background: #C4B282;
}
.lesson-bg-13 {
  background: #94D5B3;
}
.lesson-bg-14 {
  background: #E1F5C4;
}
.lesson-bg-15 {
  background: #FFF0B8;
}
.lesson-bg-16 {
  background: #B3B6FF;
}
.lesson-bg-17 {
  background: #E0E4CC;
}
.lesson-bg-18 {
  background: #FF914D;
}
.lesson-bg-19 {
  background: #7AA7D6;
}
.lesson-bg-20 {
  background: #D1E7F9;
}
.lesson-bg-21 {
  background: #C6A49A;
}
.lesson-bg-22 {
  background: #EDC951;
}
.lesson-bg-23 {
  background: #BEF202;
}
