@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


////////////////////////////////////////////////////////////////////////////////
// Clearfix hack
// From: http://nicolasgallagher.com/micro-clearfix-hack/
////////////////////////////////////////////////////////////////////////////////
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}
////////////////////////////////////////////////////////////////////////////////


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.nav-div {
  background: url("../img/d6d6d6_1px_horiz.png") bottom repeat-x;
}

.dl-nav-tab {
  margin-top: 1rem;
  margin-left: 2rem;

  dd {
    background: #FFFFFF;
  }

  dd.active {
    $one_px_solid_gray: 1px solid #D6D6D6;
    border-left: $one_px_solid_gray;
    border-top: $one_px_solid_gray;
    border-right: $one_px_solid_gray;
  }

  dd:first-child {
    margin-right: 1rem;
  }
}

// `Module Finder` page Exhibit 3 library table styles
table.exhibit-tabularView-body tr > td {
  border: 1px solid #ddd;
}

table.exhibit-tabularView-body tr > th:not(:last-child) {
  border-right: 1px solid #ddd;
}

////////////////////////////////////////////////////////////////////////////////
// This section styles the `Module Finder` page's horizontal facets, such as
// MC
////////////////////////////////////////////////////////////////////////////////
div.exhibit-flowingFacet-header {
  float: left;
}

// Using this child selector from `div.exhibit-flowingFacet-body` is required
// for overriding the `facets.css` stylesheet from Exhibit 3.0 .
// This is a hack, but it's required.
div.exhibit-flowingFacet-body > div.exhibit-flowingFacet-value {
  float: left;
  clear: none;
}

// Make the checkbox float left, otherwise they will appear below the value link
// and count
div.exhibit-flowingFacet-value-checkbox {
  float: left;
}

// Apply clearfix hack so this parent div takes up height of floated children
div.exhibit-flowingFacet {
  @extend .cf;
  padding-bottom: 1rem;
}

////////////////////////////////////////////////////////////////////////////////

$half-hour-width: 35px;

#timetable {
  width: $half-hour-width * 32;
}

.m00 {
  border-left: 1px solid #ddd;
}

.day-row > td {
  width: $half-hour-width;
  height: 40px;
}
